@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background-button: #11ae83;
  --background-button-hover: #0f9e74;
  --background-button-active: #0c7a5f;
  --background-button-disabled: #bfe3d7;
  --background-button-disabled-hover: #bfe3d7;
  --background-button-disabled-active: #bfe3d7;
  --color-text:#23714d;
  --color-text-hover: #2e8b5d;
  --color-text-active: #1b5a3a;
  --border-color: #23714d;
  --border-color-hover: #22c55e;
  --border-color-focus: #16a34a;

}




body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-text{
  background-color: var(--background-button);

}
.btn-text:hover{
  background-color: var(--background-button-hover);
}
.btn-text:active{
  background-color: var(--background-button-active);
}
.btn-text:disabled{
  cursor: not-allowed;
  background-color: var(--background-button-disabled);
}
.btn-text:disabled:hover{
  background-color: var(--background-button-disabled-hover);
}
.btn-text:disabled:active{
  background-color: var(--background-button-disabled-active);
}
button{
  cursor: pointer; 
}


.z-modal{
  z-index: 10000 !important;
}